<h1>Tushar Karle</h1>
<a routerLink=""> Home</a> <br />
<a routerLink="about">About</a> <br />
<a routerLink="user">User</a>

<br />
<a routerLink="user/30"> Anil</a> <br />
<a routerLink="user/31">Sam</a> <br />
<a routerLink="user/32">Bhaskar</a>




<router-outlet></router-outlet>
